* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
.header {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}
main {
    display: flex;
    justify-content: space-between;
}
.cuadros {
    align-items: center;
    background-color: pink;
    display: flex;
    flex-direction: column;
    height: 87vh;
    justify-content: space-evenly;
    width: 30vw;
}
.cont-izq {
    background-color: gray;
    border-radius: 15px;
    border-radius: 5% solid black;
    height: 16vh;
    width: 25vw ;
    
}
.text {
    background-color: tomato;
    height: 87vh;
    width: 70vw;
}
footer {
    background-color: yellow;
    height: 10vh;
}